<div *ngIf="caricamento">
  <h1 class="loader">CARICAMENTO</h1>
  <mat-progress-spinner *ngIf="caricamento" [diameter]="150" mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="!caricamento">
  <header>
    <h1>Password</h1>
    <p *ngIf="!passChecked">Inserisci la tua password per controllare l'identità</p>
    <p *ngIf="passChecked">Inserisci la tua nuova password e conferma</p>
  </header>
  <form novalidate [formGroup]="passwordForm" (ngSubmit)="checkUserPassword()" autocomplete="on" *ngIf="!passChecked">
    <div class="info-base container">
      <div class="row col-12">
        <div class="row col-12">
          <h3 class="titolo col-md-4" *ngIf="getWidth() > 415">PASSWORD</h3>
          <mat-form-field appearance="outline" class="full-width col-12 col-md-8">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Vecchia Password" formControlName="password" name="current-password" required>
            <mat-error *ngIf="getPasswordControl.password.errors?.required">Password attuale è <strong>obbligatoria</strong>.</mat-error>
          </mat-form-field>
        </div>
        <div class="row col-12">
          <mat-checkbox color="primary" (click)="changeValue(hide)">Mostra password</mat-checkbox>
        </div>
      </div>
    </div>
    <footer>
      <button *ngIf="!passChecked" mat-raised-button color="primary" class="submit" type="submit" [disabled]="passwordForm.invalid">Controlla</button>
      <p>Le informazioni relative al tuo account vengono usate per permetterti di accedere al gestionale e ai tuoi dati.<!--<br>Bridge memorizza alcuni dati a scopo di sicurezza, supporto e resoconto.--></p>
    </footer>
  </form>


  <form novalidate [formGroup]="newPasswordForm" (ngSubmit)="changePassword()" autocomplete="on" *ngIf="passChecked">

    <div class="info-base container" *ngIf="passChecked">
      <div class="row col-12">
        <div class="row col-12">
          <h3 class="titolo col-12 col-md-4" *ngIf="getWidth() > 415">NUOVA PASSWORD</h3>
          <mat-form-field appearance="outline" class="full-width col-12 col-md-8">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Nuova Password" formControlName="newPassword" name="new-password" required>
            <mat-error *ngIf="getNewPasswordControl.newPassword.errors?.required">Password è <strong>obbligatoria</strong>.</mat-error>
            <mat-error *ngIf="getNewPasswordControl.newPassword.errors?.minlength">Minimo 8 caratteri.</mat-error>
            <mat-error *ngIf="getNewPasswordControl.newPassword.errors?.pattern">Almeno una lettera maiuscola e minuscola, un numero e un speciale.</mat-error>
          </mat-form-field>
        </div>
        <div class="row col-12">
          <h3 class="titolo col-12 col-md-4" *ngIf="getWidth() > 415">CONFERMA</h3>
          <mat-form-field appearance="outline" class="full-width col-12 col-md-8">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Conferma Password" formControlName="confermaPassword" name="password" [errorStateMatcher]="matcher" required>
            <mat-error *ngIf="newPasswordForm.value.newPassword != newPasswordForm.value.confermaPassword">Le Password non corrispondono.</mat-error>
          </mat-form-field>
        </div>
        <div class="row col-12">
          <mat-checkbox color="primary" (click)="changeValue(hide)">Mostra password</mat-checkbox>
        </div>
      </div>
    </div>
    <footer>
      <button *ngIf="passChecked" mat-raised-button color="primary" class="submit" type="submit" [disabled]="newPasswordForm.invalid">Cambia</button>
      <p>Le informazioni relative al tuo account vengono usate per permetterti di accedere al gestionale e ai tuoi dati.<!--<br>Bridge memorizza alcuni dati a scopo di sicurezza, supporto e resoconto.--></p>
    </footer>
  </form>
</div>
