<div class="container" *ngIf="place">
  <div>
    <img #image *ngIf="imageSelected == i" class="d-block w-100" [style.height.px]="imageWidth"
    [src]="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference='+photo+'&key='+GOOGLE_MAPS_API_KEY">
  </div>
  <div class="carousel slide" *ngIf="place.google_Photos && place.google_Photos.length > 0">
    <ol class="carousel-indicators">
      <li *ngFor="let photo of place.google_Photos; let i = index;"
          [ngClass]="imageSelected == i ? 'active' : ''">
      </li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active img_wrapper" #carousel *ngFor="let photo of place.google_Photos; let i = index;">
        <img #image *ngIf="imageSelected == i" class="d-block w-100" [style.height.px]="imageWidth"
          [src]="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference='+photo+'&key='+GOOGLE_MAPS_API_KEY">
      </div>
    </div>
    <a class="carousel-control-prev _1d3iagv" (click)="previous()" style="cursor: pointer;">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="_1d3iagv carousel-control-next" (click)="next()" style="cursor: pointer;">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="info_wrapper">
    <h6>{{place.name}}</h6>
    <p>{{place.locality}}, {{place.country}}</p>
  </div>
</div>