<body *ngIf="caricamento == false">
  <div class="col-sm-12 col-md-12 col-lg-12 no-padding">
    <form [formGroup]="pneumaticiForm" (ngSubmit)="cercaPneumatici()">
      <div class="input-group targa full-width">
        <div class="input-group-prepend">
          <img src="../../../../assets/Images/User/targa left.png" height="30"
            class="d-inline-block align-top logo left">
        </div>
        <input autofocus type="text" class="form-control targa" placeholder="AA000ZZ" formControlName="targa"
          value="{{pneumaticiForm.value.targa | uppercase}}" style="text-transform: uppercase;">
        <div class="input-group-prepend">
          <button type="submit" class="btn btn-primary btn-cerca">Cerca</button>
        </div>
      </div>
    </form>
    <div class="row list">
      <div *ngFor="let p of inventario" class="col-sm-6 col-md-6 col-lg-4 card">
        <card-pneumatici [inventario]="p" (click)="editPneumatici(p)"></card-pneumatici>
      </div>
      <a class="col-sm-6 col-md-6 col-lg-4 card" (click)="addPneumatici()">
        <div class="contenitore add" [ngClass]="hover ? 'mat-elevation-z8' : ''" (mouseenter)="hoverListItem(hover)"
          (mouseleave)="hoverListItem(hover)">
          <div class="card-header">
            <div class="row">
              <div class="col-3 icons">
                <div class="card-title"><i class="fas fa-tire-flat"></i></div>
              </div>
              <div class="col-9 info">
                <div class="col-12 card-title">NUOVO</div>
              </div>
            </div>
          </div>
          <div class="card-body-add">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</body>