$body-background: #f5f5f5;

$primary-background: #22304b;
$primary-color: #fefcff;

$dark-color: #333;
$light-color: #fefefe;

$home-titlebtn-back-color: #22304b;
$home-button-color: #fefcff;
$home-buttonhover-background: #223961;

$navmenu-background: #252f4a;
$navmenu-button-background: #454543;
$navmenu-button-color: #f3f2ee;

$auth-lblbtn-background: #00888c;
$auth-buttonhover-background: #01baaa ;
$auth-input-background: #009a9026;
$auth-primary-color: #fff;

$profile-btn-color: #2a2d3f;

$mat-tab-header-background: #fff;

$crud-table-text-color: #0f0f0f;
$crud-addbutton-background: #252f4a;
$crud-addbuttonhover-background: #223961;
$crud-addbutton-color: #fbfffc;
$crud-addbutton-borderradius: 0.4rem;

$navmenu-height: 70px;

