<form novalidate [formGroup]="inizioDepositoForm" (ngSubmit)="submitForm()">

  <div class="mat-dialog-title">
    <h1>Informazioni Pneumatici</h1>
  </div>

  <mat-dialog-content class="mat-typography">
    <div *ngIf="IsEditOrNewMode()" class="box">
      <div class="row">
        <div class="col-sm">
          <div class="row">
            <h3 class="titolo col-sm-4">SEDE*</h3>
            <mat-form-field appearance="outline" class="full-width col-sm-8">
              <mat-select formControlName="sede" placeholder="Sede">
                <mat-option *ngFor="let s of sedi" [value]="s.sedeId">
                  {{s.comune}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="inizioDepositoForm.controls['sede'].hasError('required')">Sede è <strong>obbligatoria</strong>.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <h3 class="titolo col-sm-4">UBICAZIONE*</h3>
            <mat-form-field appearance="outline" class="full-width col-sm-8">
              <input matInput type="text" maxlength="250" formControlName="ubicazione" placeholder="Ubicazione" required>
              <mat-error *ngIf="inizioDepositoForm.controls['ubicazione'].hasError('required')">Ubicazione è <strong>obbligatoria</strong>.</mat-error>
              <mat-error *ngIf="inizioDepositoForm.controls['ubicazione'].hasError('maxlength')">Massimo <strong> 250</strong> caratteri.</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <h3 class="titolo col-sm-4">INIZIO DEPOSITO</h3>
            <mat-form-field appearance="outline" class="full-width col-sm-8">
              <!-- <input matInput [ngxMatDatetimePicker]="picker" placeholder="Scegli data"
                     [min]="minDate" [max]="maxDate" formControlName="inizioDeposito" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                       [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                       [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian"
                                       [disableMinute]="false" [hideTime]="false">
              </ngx-mat-datetime-picker> -->
            </mat-form-field>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <h3 class="titolo col-sm-4">BATTISTRADA*</h3>
            <mat-form-field appearance="outline" class="full-width col-sm-8">
              <input matInput type="number" maxlength="4" formControlName="battistrada" placeholder="0000" required>
              <span matSuffix>mm</span>
              <mat-error *ngIf="inizioDepositoForm.controls['battistrada'].hasError('required')">Battistrada è <strong>obbligatorio</strong>.</mat-error>
              <mat-error *ngIf="inizioDepositoForm.controls['battistrada'].hasError('maxlength')">Massimo <strong>3</strong> cifre.</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <h3 class="titolo col-sm-2">STATO PNEUMATICI*</h3>
            <mat-form-field appearance="outline" class="full-width col-sm-10">
              <input matInput type="text" formControlName="statoGomme" placeholder="Esempio: Pneumatici in ottime condizioni" required>
              <mat-error *ngIf="inizioDepositoForm.controls['statoGomme'].hasError('required')">Stato Pneumatici è<strong> obbligatorio</strong>.</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
</mat-dialog-content>

  <mat-dialog-actions>
    <button type="reset" mat-raised-button (click)="closeDialog()">Annulla</button>
    <button type="submit" mat-raised-button color="primary" *ngIf="IsEditOrNewMode()"
            [disabled]="inizioDepositoForm.invalid" [ngClass]="inizioDepositoForm.invalid ? 'btn-disabled' : ''">
      Conferma
    </button>
  </mat-dialog-actions>
</form>
