<div class="container custom-bg">
  <div class="wrap-login">
    <div class="container-logo">
      <div class="wrap-logo" [routerLink]="['/']" matTooltip="Vai alla Home" matTooltipShowDelay="1000">
        <h1 class="logo">MAN&nbsp;</h1>
        <img src="../../../../assets/Images/logo_white.png" height="30" class="align-top logo" alt="">
        <h1 class="logo" style="margin-left: -3px;">&nbsp;TYRES</h1>
      </div>
    <div class="card">
      <div style="display: flex;" *ngIf="emailaddress">
        <div (click)="emailaddress = false">
          <mat-icon style="color: #0b1426; cursor: pointer;" aria-hidden="false">arrow_back_ios_new</mat-icon>
        </div>
        <h2>{{ 'LOGIN_TITLE2' | translate }}</h2>
      </div>
      <h2 *ngIf="!emailaddress">{{ 'LOGIN_TITLE' | translate }}</h2>
      <p>{{ 'LOGIN_SUBTITLE' | translate }}</p>

      <ng-container *ngIf="!emailaddress">
        <button type="button" (click)="openFacebookPopup()" class="btn facebook-signup-btn">
          <mat-progress-spinner *ngIf="caricamento" [diameter]="20" mode="indeterminate" style="margin: auto;">
          </mat-progress-spinner>
          <div *ngIf="!caricamento" style="display: flex;">
            <img height="32" src="https://upload.wikimedia.org/wikipedia/commons/b/b8/2021_Facebook_icon.svg" />
            <div style="align-self: center; width: 100%;">
              <span>{{ "FACEBOOK_LOGIN" | translate }}</span>
            </div>
          </div>
        </button>
  
        <button type="button" (click)="openGooglePopup()" class="btn google-signup-btn">
          <mat-progress-spinner *ngIf="caricamento" [diameter]="20" mode="indeterminate" style="margin: auto;">
          </mat-progress-spinner>
          <div *ngIf="!caricamento" style="display: flex;">
            <img height="32" src="https://img.icons8.com/color/32/000000/google-logo.png" />
            <div style="align-self: center; width: 100%;">
              <span>{{ "GOOGLE_LOGIN" | translate }}</span>
            </div>
          </div>
        </button>
  
        <button type="button" (click)="emailaddress = true;" class="btn mantyres-signup-btn" (mouseenter)="logohover = true;"  (mouseleave)="logohover = false;">
          <mat-progress-spinner *ngIf="caricamento" [diameter]="20" mode="indeterminate" style="margin: auto;">
          </mat-progress-spinner>
          <div *ngIf="!caricamento" style="display: flex;">
            <img *ngIf="!logohover" src="../assets/Images/logo_darkblue.png" height="32">
            <img *ngIf="logohover" src="../assets/Images/logo_white.png" height="32">
            <div style="align-self: center; width: 100%;">
              <span>{{ "MANTYRES_LOGIN" | translate }}</span>
            </div>
          </div>
        </button>
        
      </ng-container>
      
      <div class="card-body" *ngIf="emailaddress">

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-container">
            <label for="email">{{ "EMAILADDRESS_PLACEHOLDER" | translate }}</label>
            <input name="email" id="email" type="email" class="form-control" maxlength="256" formControlName="email" required>
            <div *ngIf="getLoginControl.email.touched && getLoginControl.email.invalid" class="error_wrapper">
              <mat-error *ngIf="getLoginControl.email.errors?.required">{{'ISREQUIRED' | translate}}</mat-error>
              <mat-error *ngIf="getLoginControl.email.errors?.email">{{'ERROR_EMAILFORMAT' | translate}}</mat-error>
            </div>
          </div>
          <div class="input-container">
            <label for="current-password">{{ "PASSWORD_PLACEHOLDER" | translate }}</label>
            <input name="current-password" id="current-password" type="password" class="form-control" maxlength="256" formControlName="password" required>
            <div *ngIf="getLoginControl.password.touched && getLoginControl.password.invalid" class="error_wrapper">
              <mat-error *ngIf="getLoginControl.password.errors?.required">{{'ISREQUIRED' | translate}}</mat-error>
            </div>
          </div>

          <button type="submit" class="btn login-btn">
            <mat-progress-spinner *ngIf="caricamento" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
            <span *ngIf="!caricamento">{{ "LOGIN" | translate }}</span>
          </button>
        </form>

      </div>
      <div class="link-wrapper">
        <a [routerLink]="['/account/password/reset/request']">{{"FORGOT_PASSWORD" | translate}}</a>
      </div>
    </div>
  </div>
</div>