<div mat-dialog-title class="header">
  <button class="header_btn" (click)="indice = 0" [ngClass]="indice == 0 ? 'btn_active' : '' ">
    {{'LANGUAGE_REGION'|translate}}
  </button>
  <button class="header_btn" (click)="indice = 1" [ngClass]="indice == 1 ? 'btn_active' : '' " style="margin-right: auto;">
    {{'CURRENCY'|translate}}
  </button>
  <button mat-icon-button matTooltip="Chiudi" matTooltipShowDelay="1000" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div class="row" style="margin: 0;">
  <div class="center-page" *ngIf="caricamento">
    <img class="spinner rotating" src="../assets/Images/loader.png">
  </div>
  
  <mat-tab-group [selectedIndex]="indice" *ngIf="caricamento == false">
    <mat-tab label="{{'LANGUAGE_REGION'|translate}}">
      <mat-dialog-content class="mat-typography">
        <h2>{{'SUGGESTED_LANGUAGES'|translate}}</h2>
        <div class="row" style="margin: 0 !important;">
          <div *ngFor="let language of loadLanguages_suggested()" class="col-12 col-sm-6 col-md-3" style="padding-left: 0 !important;">
            <div class="language_wrapper row" (click)="setLanguage(language.code)">
              <div class="col-3 flag"><p>{{language.emoji}}</p></div>
              <div class="language_text col-9">
                <h5>{{language.name}}</h5>
                <p>{{language.country}}</p>
              </div>
            </div>
          </div>
        </div>
        <h2>{{'CHOOSE_LANGUAGE'|translate}}</h2>
        <div class="row" style="margin: 0 !important;">
          <div *ngFor="let language of languages" class="col-12 col-sm-6 col-md-3" style="padding-left: 0 !important;">
            <div class="language_wrapper row" (click)="setLanguage(language.code)" [ngClass]="checkLangCode(language) ? 'language_active' : '' ">
              <div class="col-3 flag"><p>{{language.emoji}}</p></div>
              <div class="language_text col-9">
                <h5>{{language.name}}</h5>
                <p>{{language.country}}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-content>
    </mat-tab>
    <mat-tab label="{{'CURRENCY'|translate}}">
      <mat-dialog-content class="mat-typography">
        <h2>{{'CHOOSE_LANGUAGE'|translate}}</h2>
        <div class="row" style="margin: 0 !important;">
          <div *ngFor="let currency of currencies" class="col-2" style="padding-left: 0 !important;">
            <div class="language_wrapper row" (click)="setCurrency(currency.code)" [ngClass]="checkCurrCode(currency) ? 'language_active' : '' ">
              <div class="language_text col-12" *ngIf="currency">
                <h5>{{currency.name}}</h5>
                <p>{{currency.code}}&nbsp;-&nbsp;{{currency.symbol}}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-content>
    </mat-tab>
  </mat-tab-group>
</div>