::ng-deep .mat-tab-label-container {
   display: none !important;
}
::ng-deep .mat-tab-header {
   display: none !important;
}

::ng-deep .mat-dialog-container {
   padding: 20px !important;
}

::ng-deep .mat-tab-body-content {
   overflow: unset !important;
}

::ng-deep .mat-dialog-content {
   display: block;
   margin: 0 !important;
   padding: 0 !important;
   max-height: 65vh;
   overflow: auto;
   -webkit-overflow-scrolling: touch;
}

.mat-dialog-title {
   margin: 0 !important;
}

.mat-tab-group {
   padding: 0;
}
.flag {
   align-self: center;
   > p {
      font-size: 40px;
      margin: 0;
   }
}

.language_text {
   > h5 {
      font-size: 16px;
      margin: 0;
   }
   > p {
      margin: 0;
   }
}

.language_wrapper {
   padding: 5px 0;
   margin: 5px 0;
   padding-right: 10px;
   border-radius: 10px;
   cursor: pointer;
}

.language_wrapper:hover {
   background-color: rgb(247, 247, 247) !important;
}

.language_active {
   border: 1px solid #0b1426;
}

.header {
   //text-align: end;
   display: flex;
   margin-bottom: 20px !important;
   > button {
      cursor: pointer !important;
   }
   > .header_btn {
      background-color: transparent;
      padding: 0 30px;
      font-size: 14px;
      color: #6c757d;
      font-weight: 500;
   }
   > .btn_active {
      color: #0b1426;
      border-bottom: 2px solid #0b1426;
   }
}