<form novalidate [formGroup]="veicoloForm" (ngSubmit)="submitForm()">

  <div class="mat-dialog-title row" *ngIf="IsEditOrNewMode()">
    <h1>Informazioni Veicolo</h1>
  </div>

  <mat-dialog-content class="mat-typography">

    <div *ngIf="IsEditOrNewMode()" class="box">
      <div class="row">
        <div class="col-sm">
          <div class="row mobile-padding">
            <h3 class="titolo col-8 col-sm-4">CLIENTE*</h3>
            <!--<button type="button" *ngIf="veicoloForm.value.cliente')!.value == 0 || veicoloForm.controls['cliente'].hasError('required')" class="addCliente col-4 col-sm-2" matTooltip="Aggiungi Cliente" matTooltipShowDelay="500" (click)="addCliente()"><mat-icon class="primary-icon" matSuffix>add_circle_outline</mat-icon></button>
            <button type="button" *ngIf="veicoloForm.value.cliente')!.value != 0 && !veicoloForm.controls['cliente'].hasError('required')" class="delCliente col-4 col-sm-2" matTooltip="Rimuovi Cliente" matTooltipShowDelay="500" (click)="removeCliente()"><mat-icon class="clear-icon" matSuffix>clear</mat-icon></button>-->
            <mat-form-field appearance="outline" class="full-width col-sm-8">
              <mat-select formControlName="cliente" placeholder="Scegli o Crea">
                <mat-option>
                  <ngx-mat-select-search placeholderLabel="Cerca cliente..." i18n-placeholderLabel noEntriesFoundLabel="Nessun cliente trovato" i18n-noEntriesFoundLabel [formControl]="filter"></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let x of filtered | async" [value]="x.clienteId">{{x.nome}}</mat-option>
              </mat-select>
              <mat-hint><a (click)="addCliente()">Crea nuovo</a></mat-hint>
              <mat-error *ngIf="veicoloForm.controls['cliente'].hasError('required')">Cliente è <strong>obbligatorio</strong>.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <h3 class="titolo col-sm-4">TARGA*</h3>
            <mat-form-field appearance="outline" class="full-width col-sm-8">
              <input matInput type="text" maxlength="50" formControlName="targa" placeholder="Targa" value="{{veicoloForm.value.targa | uppercase}}" required>
              <mat-error *ngIf="veicoloForm.controls['targa'].hasError('required')">Targa è <strong>obbligatoria</strong>.</mat-error>
              <mat-error *ngIf="veicoloForm.controls['targa'].hasError('maxlength')">Massimo <strong>10</strong> caratteri.</mat-error>
              <mat-error *ngIf="veicoloForm.controls['targa'].hasError('pattern')">Targa non può contenere numeri o caratteri speciali.</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="row">
            <h3 class="titolo col-sm-4">MARCA</h3>
            <mat-form-field appearance="outline" class="full-width col-sm-8">
              <input matInput type="text" maxlength="50" formControlName="marca" placeholder="Marca" value="{{veicoloForm.value.marca | titlecase}}">
              <mat-error *ngIf="veicoloForm.controls['marca'].hasError('maxlength')">Massimo <strong>50</strong> caratteri.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm">
          <div class="row">
            <h3 class="titolo col-sm-4">MODELLO</h3>
            <mat-form-field appearance="outline" class="full-width col-sm-8">
              <input matInput type="text" maxlength="50" formControlName="modello" placeholder="Modello" value="{{veicoloForm.value.modello | titlecase}}">
              <mat-error *ngIf="veicoloForm.controls['modello'].hasError('maxlength')">Massimo <strong>50</strong> caratteri.</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="IsViewMode()">
      <div class="dialog_info_mobile_header" *ngIf="getWidth() < 415">
        <button class="close" mat-icon-button matTooltip="Chiudi" matTooltipShowDelay="1000" (click)="closeDialog()" style="float: left;"><mat-icon>close</mat-icon></button>
        <button mat-icon-button matTooltip="Modifica" (click)="EditMode()"><mat-icon>edit</mat-icon></button>
        <!--<button mat-icon-button matTooltip="Elimina" (click)="deactivateVeicolo(data.veicolo.veicoloId)"><mat-icon>delete</mat-icon></button>-->
      </div>
      <ng-container class="dialog_info_body">
        <div class="dialog_info_title_box">
          <div [ngClass]="getWidth() > 415 ? 'dialog_info_icon' : ''">
            <button type="button" mat-fab color="primary">
              <mat-icon>directions_car</mat-icon>
            </button>
          </div>
          <div [ngClass]="getWidth() > 415 ? 'dialog_info_title_subtitle' : 'dialog_info_title_subtitle_mobile'">
            <h2>{{data.veicolo.marca}}&nbsp;{{data.veicolo.modello}}</h2>
            <h3>{{data.veicolo.targa}}</h3>
          </div>
          <div class="dialog_info_actions" *ngIf="getWidth() > 415">
            <button *ngIf="!data.veicolo.isDeleted" mat-icon-button matTooltip="Modifica" (click)="EditMode()"><mat-icon>edit</mat-icon></button>
            <!--<button *ngIf="!data.veicolo.isDeleted" mat-icon-button matTooltip="Elimina" (click)="deactivateVeicolo(data.veicolo.veicoloId)"><mat-icon>delete</mat-icon></button>
            <button *ngIf="data.veicolo.isDeleted" mat-icon-button matTooltip="Riattiva" (click)="reactivateVeicolo(data.veicolo.veicoloId)"><mat-icon>restore</mat-icon></button>-->
            <button mat-icon-button matTooltip="Chiudi" (click)="closeDialog()"><mat-icon>close</mat-icon></button>
          </div>
        </div>

        <mat-divider class="dialog_info_divider" [ngClass]="data.veicolo.cliente == null ? 'dialog_info_divider_disable' : ''"></mat-divider>

        <div class="dialog_info_details_box row">
          <div *ngIf="data.veicolo.cliente != null" style="margin-bottom: 10px; width: 100%;">
            <span class="col-12">Dettagli proprietario</span>
            <div class="dialog_info_details col-12 col-sm-6">
              <i class="fas" [ngClass]=" data.veicolo.cliente.isAzienda ? 'fa-building' : 'fa-user' "></i>
              <p>{{data.veicolo.cliente.nome}}&nbsp;{{data.veicolo.cliente.cognome}}</p>
            </div>
            <div class="dialog_info_details col-12 col-sm-6" *ngIf="data.veicolo.cliente.codiceFiscale">
              <i class="fas fa-id-card-alt"></i>
              <p>{{data.veicolo.cliente.codiceFiscale | uppercase}}</p>
            </div>
            <div class="dialog_info_details col-12 col-sm-6" *ngIf="data.veicolo.cliente.partitaIva">
              <i class="fas fa-address-card"></i>
              <p>{{data.veicolo.cliente.partitaIva}}</p>
            </div>
            <div class="col-12 row no-padding" *ngIf="data.veicolo.cliente.email || data.veicolo.cliente.telefono">
              <div class="dialog_info_details col-12 col-sm-6" *ngIf="data.veicolo.cliente.email">
                <i class="fas fa-envelope"></i>
                <p class="emailtext">{{data.veicolo.cliente.email}}</p>
              </div>
              <div class="dialog_info_details col-12 col-sm-6" *ngIf="data.veicolo.cliente.telefono">
                <i class="fas fa-phone-alt"></i>
                <p>{{data.veicolo.cliente.telefono}}</p>
              </div>
            </div>
            <div class="col-12 row no-padding" *ngIf="data.veicolo.cliente.indirizzo || data.veicolo.cliente.cap
                 || data.veicolo.cliente.comune || data.veicolo.cliente.provincia || data.veicolo.cliente.nazione">
              <div class="dialog_info_details col-12 col-sm-5" *ngIf="data.veicolo.cliente.indirizzo">
                <i class="fas fa-map-marker-alt"></i>
                <p>{{data.veicolo.cliente.indirizzo}} {{data.veicolo.cliente.civico}}</p>
              </div>
              <div class="dialog_info_details col-12 col-sm-4" *ngIf="data.veicolo.cliente.cap || data.veicolo.cliente.comune || data.veicolo.cliente.provincia">
                <i class="fas fa-map-marker-alt" [ngClass]="data.veicolo.cliente.indirizzo ? 'white' : ''"></i>
                <p>{{data.veicolo.cliente.cap}} {{data.veicolo.cliente.comune}} {{data.veicolo.cliente.provincia}}</p>
              </div>
              <div class="dialog_info_details col-12 col-sm-3" *ngIf="data.veicolo.cliente.nazione">
                <i class="fas fa-map-marker-alt" [ngClass]="data.veicolo.cliente.indirizzo || data.veicolo.cliente.cap || data.veicolo.cliente.comune || data.veicolo.cliente.provincia ? 'white' : ''"></i>
                <p>{{data.veicolo.cliente.nazione}}</p>
              </div>
            </div>
          </div>          
          <ng-container *ngIf="inventario.length > 0">
            <span class="col-12">Pneumatici</span>
            <div class="row col-12">
              <div *ngFor="let p of inventario" align="center" class="col-sm-6 col-md-6 col-lg-6 card_container">
                <card-pneumatici [inventario]="p" [isVeicolo]="true" (click)="editPneumatici(p)"></card-pneumatici>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions *ngIf="IsEditOrNewMode()">
    <button type="reset" mat-raised-button (click)="closeDialog()">Chiudi</button>
    <button type="submit" mat-raised-button color="primary" *ngIf="IsEditOrNewMode()">
      {{ IsNewMode()?'Aggiungi':'Salva' }}
    </button>
  </mat-dialog-actions>
</form>
