<form novalidate [formGroup]="fineDepositoForm" (ngSubmit)="submitForm()">

  <div class="mat-dialog-title">
    <h1>Informazioni Pneumatici</h1>
  </div>

  <mat-dialog-content class="mat-typography">
    <div *ngIf="IsEditOrNewMode()" class="box">

      <div class="row">
        <div class="col">
          <div class="row">
            <h3 class="titolo col-sm-4">FINE DEPOSITO</h3>
            <mat-form-field appearance="outline" class="full-width col-sm-8">
              <!-- <input matInput [ngxMatDatetimePicker]="picker" placeholder="Scegli data"
                     [min]="minDate" [max]="maxDate" formControlName="fineDeposito" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                       [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                       [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian"
                                       [disableMinute]="false" [hideTime]="false"> 
              </ngx-mat-datetime-picker> -->
            </mat-form-field>
          </div>
        </div>
      </div>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="reset" mat-raised-button (click)="closeDialog()">Annulla</button>
    <button type="submit" mat-raised-button color="primary" *ngIf="IsEditOrNewMode()"
            [disabled]="fineDepositoForm.invalid" [ngClass]="fineDepositoForm.invalid ? 'btn-disabled' : ''">
      Conferma
    </button>
  </mat-dialog-actions>
</form>
