<div class="body_container">
  <div class="place_wrapper row">
    <app-place [place]="place" *ngFor="let place of places" class="col-3"></app-place>
  </div>
</div>

<div class="search_bar">
  <div class="search_wrapper">
    <div class="search_box">
      <label>Dove</label>
      <div><input placeholder="Cerca gommista"></div>
    </div>
    <div class="search_box">
      <label>Pneumatici</label>
      <p style="width: 100%;">Seleziona misura</p>
    </div>
    <div class="search_box">
      <label>Veicolo</label>
      <div><input placeholder="Seleziona veicolo"></div>
    </div>
    <div class="search_box_icon">
      <mat-icon>search</mat-icon>
      <label>Cerca</label>
    </div>
  </div>

  <div class="search_expand">
    <label>Utilizza la tua posizione {{ipAddress}}</label>
    <p>Pneumatici {{location?.city}} {{location?.country}}</p>
    <p>{{places.length}}</p>

    <p *ngIf="complete">FINISH</p>
    <button (click)="getIPAddress()">START</button>
    <button (click)="addPlaces()">addPlaces</button>
    
    <button (click)="getAllPlaces()">getPlaces</button>
    <button (click)="updatePlaces()">updatePlaces</button>
  </div>

</div>



<img *ngIf="photo_reference" [src]="'https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference='+photo_reference+'&key='+GOOGLE_MAPS_API_KEY">
<a href="https://maps.google.com/maps/contrib/116714758872346814177">Joe Gomme</a>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkxjqWpry4Gp2gNprd-dtiOhShY5YnbP0&callback=initMap"></script>