<div class="body_container">
  <div class="place_wrapper row">
    <place-card [place]="place" *ngFor="let place of places" class="col-3"></place-card>
  </div>
</div>

<div class="search_bar">
  <div class="search_wrapper">
    <div class="search_box">
      <label>Dove</label>
      <div><input placeholder="Cerca gommista"></div>
    </div>
    <div class="search_box">
      <label>Pneumatici</label>
      <p style="width: 100%;">Seleziona misura</p>
    </div>
    <div class="search_box">
      <label>Veicolo</label>
      <div><input placeholder="Seleziona veicolo"></div>
    </div>
    <div class="search_box_icon">
      <mat-icon>search</mat-icon>
      <label>Cerca</label>
    </div>
  </div>

  <div class="search_expand">
    <label>Utilizza la tua posizione {{ipAddress}}</label>
    <p>Pneumatici {{location?.city}} {{location?.country}}</p>
    <p>{{places.length}}</p>

    <p *ngIf="complete">FINISH</p>
    <button (click)="getIPAddress()">START</button>
    <button (click)="addPlaces()">addPlaces</button>
    
    <button (click)="getAllPlaces()">getPlaces</button>
    <button (click)="updatePlaces()">updatePlaces</button>
  </div>

</div>