<div>
   <div style='font-family:Roboto, RobotoDraft, Helvetica, Arial, sans-serif;font-size:14px;width:100%;background:#fafafa;padding:40px 0 30px;'>
      <div style='width:600px;max-width:100%;background:#fff;border-radius:6px;margin:0 auto;'>
         <!-- <img width='100%' src='https://mgcrmbotaee8.blob.core.windows.net/teq-link/logo.png' style='background:#000;'> -->
         <div style='padding:16px 40px 40px;'>
            <h3 style='font-weight:bold;font-size:24px;line-height:36px;margin:16px 0;color:#1e2026;'>
               Claim n.__CLAIMNUMBER__ status has been updated. Additional information required.
            </h3>
            <div style='margin:0;color:#474d57;font-size:16px;'>
               <p style='margin-bottom:26px;'>
                  Invoice reference: __INVOICENUMBER__.
               </p>
            </div>
            <div style='padding:16px;margin:12px 0 32px;background-color:#fafafa;border-radius:4px;'>
               <table class='yiv4202240446deviceInfo'
                  style='width:100%;background:#fafafa;vertical-align:middle;padding:10px 0 10px;'>
                  <tbody>
                     <tr>
                        <td>
                           <table>
                              <tbody>
                                 <tr>
                                    <td style='vertical-align:text-top;text-align:left;margin-right:3px;color:#76808f;white-space:nowrap;text-align:right;font-size:14px;padding-right:8px;padding-left:8px;'>
                                       Customer: 
                                    </td>
                                    <td>
                                       <div>
                                          <div style='color:#474d57;'>__CONTACTPERSON__</div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td
                                       style='vertical-align:text-top;text-align:left;margin-right:3px;color:#76808f;white-space:nowrap;text-align:right;font-size:14px;padding-right:8px;padding-left:8px;'>
                                       Email: </td>
                                    <td>
                                       <div>
                                          <div style='color:#474d57;'>__CONTACTEMAIL__</div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td
                                       style='vertical-align:text-top;text-align:left;margin-right:3px;color:#76808f;white-space:nowrap;text-align:right;font-size:14px;padding-right:8px;padding-left:8px;'>
                                       Phone: </td>
                                    <td>
                                       <div>
                                          <div style='color:#474d57;'>__CONTACTPHONE__</div>
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div style='padding:16px;margin:12px 0 32px;background-color:#fafafa;border-radius:4px;'>
               <table class='yiv4202240446deviceInfo'
                  style='width:100%;background:#fafafa;vertical-align:middle;padding:10px 0 10px;'>
                  <tbody>
                     <tr>
                        <td>
                           <table>
                              <tbody>
                                 <tr>
                                    <td style='vertical-align:text-top;text-align:left;margin-right:3px;color:#76808f;white-space:nowrap;text-align:right;font-size:14px;padding-right:8px;padding-left:8px;'>
                                       Equipment type: 
                                    </td>
                                    <td>
                                       <div>
                                          <div style='color:#474d57;'>__EQUIPMENTFAMILY__</div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td
                                       style='vertical-align:text-top;text-align:left;margin-right:3px;color:#76808f;white-space:nowrap;text-align:right;font-size:14px;padding-right:8px;padding-left:8px;'>
                                       Installation date: 
                                    </td>
                                    <td>
                                       <div>
                                          <div style='color:#474d57;'>__INSTALLATIONDATE__</div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td
                                       style='vertical-align:text-top;text-align:left;margin-right:3px;color:#76808f;white-space:nowrap;text-align:right;font-size:14px;padding-right:8px;padding-left:8px;'>
                                       Failure date: 
                                    </td>
                                    <td>
                                       <div>
                                          <div style='color:#474d57;'>__FAILUREDATE__</div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td
                                       style='vertical-align:text-top;text-align:left;margin-right:3px;color:#76808f;white-space:nowrap;text-align:right;font-size:14px;padding-right:8px;padding-left:8px;'>
                                       Defect: 
                                    </td>
                                    <td>
                                       <div>
                                          <div style='color:#474d57;'>__DEFECT__</div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td
                                       style='vertical-align:text-top;text-align:left;margin-right:3px;color:#76808f;white-space:nowrap;text-align:right;font-size:14px;padding-right:8px;padding-left:8px;'>
                                       Description: 
                                    </td>
                                    <td>
                                       <div>
                                          <div style='color:#474d57;word-break: normal;'><p>__DEFECTDESCRIPTION__</p></div>
                                       </div>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td
                                       style='vertical-align:text-top;text-align:left;margin-right:3px;color:#76808f;white-space:nowrap;text-align:right;font-size:14px;padding-right:8px;padding-left:8px;'>
                                       Required additional information: 
                                    </td>
                                    <td>
                                       <div>
                                          <div style='color:#474d57;word-break: normal;'><p>__REQUIREDINFO__</p></div>
                                       </div>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div>
               <p class='yiv4202240446section' style='font-weight:normal;margin:16px 0 0 0;color:#474d57;'>
                  Claim status: __CLAIMSTATUS__
               </p>
            </div>
            <div>
               <p class='yiv4202240446section' style='font-weight:normal;margin:16px 0 0 0;color:#474d57;'>
                  Operator: __EmailVsg__
               </p>
            </div>

            <div style='line-height:24px;color:#76808f;margin-top: 36px;'>
               Teq-Link Team
            </div>
         </div>
      </div>
      <div style='text-align:center;'>
         <p style='color:#aeb4bc !important;margin:0;'>
            <br>
            2021 © Teq-Link.com All Rights Reserved
            <br>
            URL：www.teq-link.com <br>
            E-mail：support@teq-link.com
         </p>
      </div>
   </div>
</div>