<div class="register-container">
  <div class="register-page-content">
    <div class="wrap-logo" [routerLink]="['/home']" matTooltip="Vai alla Home" matTooltipShowDelay="1000">
      <h1 class="logo">MAN&nbsp;</h1>
      <img src="../../../../assets/Images/logo_darkblue.png" height="30" class="align-top logo" alt="">
      <h1 class="logo" style="margin-left: -3px;">&nbsp;TYRES</h1>
    </div>
    <div class="register-page-form">
      <div class="onboarding-step onboarding-step-signup" *ngIf="!emailSend">
        <div class="mb-30 styles_heading__3VoGH">
          <h1 style="color: black; margin: 0;">{{"SIGNUP_TITLE" | translate }}</h1>
          <p>{{ "SIGNUP_SUBTITLE" | translate }}</p>
        </div>

        <ng-container *ngIf="!emailaddress">
          <button type="button" (click)="openFacebookPopup()" class="btn facebook-signup-btn">
            <mat-progress-spinner *ngIf="caricamento" [diameter]="20" mode="indeterminate" style="margin: auto;">
            </mat-progress-spinner>
            <div *ngIf="!caricamento" style="display: flex;">
              <img height="32" src="https://upload.wikimedia.org/wikipedia/commons/b/b8/2021_Facebook_icon.svg" />
              <div style="align-self: center; width: 100%;">
                <span>{{ "FACEBOOK_SIGNUP" | translate }}</span>
              </div>
            </div>
          </button>
  
          <button type="button" (click)="openGooglePopup()" class="btn google-signup-btn">
            <mat-progress-spinner *ngIf="caricamento" [diameter]="20" mode="indeterminate" style="margin: auto;">
            </mat-progress-spinner>
            <div *ngIf="!caricamento" style="display: flex;">
              <img height="32" src="https://img.icons8.com/color/32/000000/google-logo.png"/>
              <div style="align-self: center; width: 100%;">
                <span>{{ "GOOGLE_SIGNUP" | translate }}</span>
              </div>
            </div>
          </button>
  
          <button type="button" (click)="emailaddress = true;" class="btn mantyres-signup-btn" (mouseenter)="logohover = true;"  (mouseleave)="logohover = false;">
            <mat-progress-spinner *ngIf="caricamento" [diameter]="20" mode="indeterminate" style="margin: auto;">
            </mat-progress-spinner>
            <div *ngIf="!caricamento" style="display: flex;">
              <img *ngIf="!logohover" src="../assets/Images/logo_darkblue.png" height="32">
              <img *ngIf="logohover" src="../assets/Images/logo_white.png" height="32">
              <div style="align-self: center; width: 100%;">
                <span>{{ "MANTYRES_LOGIN" | translate }}</span>
              </div>
            </div>
          </button>
        </ng-container>

        <div class="card-body" *ngIf="emailaddress">

          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="input-container">
              <label>{{ "EMAILADDRESS_PLACEHOLDER" | translate }}</label>
              <input class="form-control" maxlength="256" formControlName="email" type="email" name="email" email
                required>
              <div *ngIf="getSignupControl.email.touched && getSignupControl.email.invalid" class="error_wrapper">
                <mat-error *ngIf="getSignupControl.email.errors?.required">
                  {{"ISREQUIRED" | translate}}</mat-error>
                <mat-error *ngIf="getSignupControl.email.errors?.email">{{ "EMAILADDRESS_PLACEHOLDER" | translate }}
                  {{"WRONGFORMAT" | translate}}</mat-error>
              </div>
            </div>
            <div class="input-container">
              <label>{{ "PASSWORD_PLACEHOLDER" | translate }}</label>
              <input class="form-control" minlength="8" maxlength="32" type="password" formControlName="password" required>
              <div *ngIf="getSignupControl.password.touched && getSignupControl.password.invalid" class="error_wrapper">
                <mat-error *ngIf="getSignupControl.password.errors?.required">
                  {{"ISREQUIRED" | translate}}</mat-error>
                <mat-error *ngIf="getSignupControl.password.errors?.minlength">{{ "PASSWORD_PLACEHOLDER" | translate}}
                  {{"LEAST" | translate}}&nbsp;8&nbsp;{{'CHARACTERS' | translate}}</mat-error>
                <mat-error *ngIf="getSignupControl.password.errors?.maxlength">{{ "PASSWORD_PLACEHOLDER" | translate}}
                  {{"MAXIMUN" | translate}}&nbsp;32&nbsp;{{'CHARACTERS' | translate}}</mat-error>
              </div>
            </div>
  
            <button type="submit" class="btn signup-btn" [disabled]="signupForm.invalid">
              <mat-progress-spinner *ngIf="caricamento" [diameter]="20" mode="indeterminate" style="margin: auto;">
              </mat-progress-spinner>
              <span *ngIf="!caricamento">{{ "CREATE_ACCOUNT" | translate }}</span>
            </button>
          </form>

        </div>
        
        <div class="mt-50">
          <p>{{ "AGREE" | translate }}
            <a class="clickable_link" target="_blank" href="https://www.sendinblue.com/legal/termsofuse/">{{"USETERM" |
              translate}}</a>
            &nbsp;{{ "AND" | translate }}&nbsp;
            <a class="clickable_link" target="_blank"
              href="https://www.sendinblue.com/legal/privacypolicy/">{{"PRIVACYPOLICY" | translate}}</a>
          </p>
        </div>
      </div>
      <div class="onboarding-step" *ngIf="emailSend">
        <div class="mb-30">
          <h1 style="color: black; margin: 0;">{{"VerifyEmail" | translate }}</h1>
        </div>
        <div class="onboarding-verify-letter">
          <i style="font-size: 70px;" class="fas fa-envelope"></i>
        </div>
        <p>{{"EmailLink" | translate}}&nbsp;<b>{{signupForm.value.email}}</b>
        </p>
        <p>{{"HaveNotReceived" | translate}}&nbsp;<a class="clickable_link" (click)="sendEmail()">{{"ResendEmail" |
            translate}}</a>
        </p>
      </div>
    </div>
    <!-- <div class="image-signup"></div> -->
  </div>
  <div class="style_register_sidebar__2NVar" *ngIf="!emailSend" style="background-image:url(../../../../assets/Images/Authentication/signup-image2.jpg)"></div>
</div>